.d-flex{
    margin-top: 2rem;
    border: none;
  }
  
  .card-img-top{
  
  height: 10rem;
  width: 12rem;
  margin-top:2rem;
  
  }
  
  .img{
  
    padding-left: 6rem;
  }
  
  .card-body{
  
    margin-top: 3rem;
    border: none;
  }
  
  .card{
    border:none;
  }

h5{

    text-align: center;
}

input{

   box-shadow: 10px 10px 20px lightblue;

}
.btn btn-info{

margin-bottom: 2rem;

}
