.d-flex{
    margin-top: 5rem;
    border: none;
  }
  
  .card-img-top{
  
  height: 10rem;
  width: 12rem;
  margin-top:2rem;
  
  }
  
  .img{
  
    padding-left: 6rem;
  }
  
  .card-body{
  
    margin-top: 3rem;
    border: none;
  }
  
  .card{
    border:none;
  }