<div class="d-flex justify-content-center">
    
    <div class="card" style="width: 25rem; height:35rem">
      <div class="img">
        <img src="../../../assets/Images/logo.jpg" class="card-img-top" alt="...">

      </div>

      <div class="card-body">
       <h5>Sign In</h5>
      
       <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="password" class="form-control" id="Email" placeholder="Please Enter E-mail">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Please Enter Password">
      </div>
      <br> 


      
        <a href="#" class="btn btn-info w-100">Sign In</a>
      </div>
    </div>
  </div>
