<div class="d-flex justify-content-center">
  <div class="card" style="width: 25rem; height: 35rem">
    <div class="img">
      <img
        src="../../../assets/Images/logo.jpg"
        class="card-img-top"
        alt="..."
      />
    </div>

    <form class="card-body" [formGroup]="loginForm">
      <h5>Sign In</h5>

      <div>
        <label for="email">Email</label>

        <input
          type="text"
          class="form-control"
          id="email"
          name="Email"
          placeholder="Please Enter E-mail"
          formControlName="email"
        />
      </div>
      <br />



      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Please Enter Password"
          formControlName="password"
        />
      </div>
      <br />

     
     
      <br />

      <a (click)="onSubmit()"   class="btn btn-info w-100">Sign In</a>

    </form>
  </div>
</div>
